<ion-tabs #tabs (ionTabsDidChange)="setCurrentTab()">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="feeds">
      <ion-icon
        [name]="selectedTab === 'feeds' ? 'home' : 'home-outline'"
      ></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon
        [name]="selectedTab === 'tab2' ? 'tv' : 'tv-outline'"
      ></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon
        [name]="selectedTab === 'tab3' ? 'add-circle' : 'add-circle-outline'"
      ></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="activity">
      <ion-icon
        [name]="selectedTab === 'activity' ? 'heart' : 'heart-outline'"
      ></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon
        [name]="selectedTab === 'profile' ? 'person' : 'person-outline'"
      ></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
