<ion-header>
  <ion-toolbar class="insta-feed-header">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="camera-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="insta-font"> Instagram </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="search"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="paper-plane-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment scrollable class="status-wrapper" mode="md">
    <ion-segment-button class="status-item own-status">
      <ion-avatar>
        <img
          src="https://res.cloudinary.com/og-tech/image/upload/s--Ivs1sp-J--/c_scale,w_100/v1529311900/og_icon.jpg"
        />
      </ion-avatar>
      <ion-label>Your story</ion-label>
      <ion-icon name="add" class="plus-icon"></ion-icon>
    </ion-segment-button>

    <ion-segment-button
      *ngFor="let status of feedsData"
      class="status-item other-status"
    >
      <ion-avatar>
        <img [src]="status.picture.large" />
      </ion-avatar>
      <ion-label> {{ status.login.username }} </ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-card class="feed-card" *ngFor="let feeds of feedsData; let i = index">
    <ion-card-content class="feed-user-wrapper">
      <div class="ion-align-items-center user-image-wrapper">
        <img [src]="feeds.picture.large" />
      </div>
      <div class="user-details">
        <p class="user-name">{{ feeds.login.username }}</p>
        <p class="user-place">{{ feeds.location.street.name }}</p>
      </div>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-card-content>
    <div class="feed-slides-wrapper">
      <ion-slides [options]="slideOpts" class="feed-slides">
        <ion-slide>
          <img
            src="https://picsum.photos/id/{{ i }}/3000/2000"
            (load)="loaded = true"
            [ngClass]="{ 'img-loaded': loaded }"
            [hidden]="!loaded"
          />
          <ion-spinner
            name="lines"
            [ngClass]="{ center: true }"
            *ngIf="!loaded"
          ></ion-spinner>
        </ion-slide>
      </ion-slides>

      <div class="feed-btn-wrapper">
        <ion-buttons class="ion-float-left">
          <ion-button>
            <ion-icon name="heart-outline"></ion-icon>
          </ion-button>
          <ion-button>
            <ion-icon name="chatbubbles-outline"></ion-icon>
          </ion-button>
          <ion-button>
            <ion-icon name="paper-plane-outline"></ion-icon>
          </ion-button>
        </ion-buttons>

        <ion-buttons class="ion-float-right">
          <ion-button>
            <ion-icon name="bookmark-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
    </div>
    <ion-card-content class="feed-details-container">
      <p><strong>10 likes</strong></p>
      <p class="user-given-details">
        <ion-avatar>
          <img [src]="feeds.picture.large" />
        </ion-avatar>
        <strong class="user-name">{{ feeds.name.first }} </strong>
        <span> lorem ipsum</span>
      </p>
      <p class="all-comments">
        <span class="grey-text">View All Comments</span>
      </p>
    </ion-card-content>
  </ion-card>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreFeeds($event)">
    <ion-infinite-scroll-content
      loadingSpinner="lines"
      loadingText="Loading Feeds..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
